
html {
  box-sizing: border-box;

}
*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;
  background-color: #faf6d9;
}

.oops{
  position: relative;
  z-index: 1000;
}

h1{
  font-family: 'Fredericka the Great', cursive;
}

p{
  font-family: 'Indie Flower', cursive;
}

img{
  width: 100%;
  opacity: 0.1;
}

.icon{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 30%;
}
